# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Spark checkpoints
checkpoints/
spark-warehouse/

# System files
.DS_Store

# Temporary files
tmp/
temp/
output/
